<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <title>About</title>
</head>
<body>
    <div class="navbar bg-base-100">
        <div class="flex-1">
          <a href="/" class="btn btn-ghost text-xl">Lego Collection</a>
        </div>
        <div class="flex-none">
          <ul class="menu menu-horizontal px-1">
            <li><a class="active" href="/about">About</a></li>
            <li>
              <details>
                <summary>
                  Themes
                </summary>
                <ul class="p-2 bg-base-100 rounded-t-none">
                  <li><a href="/lego/sets?theme=Supplemental">Supplemental</a></li>
                  <li><a href="/lego/sets?theme=Books">Books</a></li>
                  <li><a href="/lego/sets?theme=Icons">Icons</a></li>
                </ul>
              </details>
            </li>
          </ul>
        </div>
      </div>
<body>
    
    <div class="container mx-auto">

        <div class="hero min-h-screen bg-base-200">
            <div class="hero-content flex-col lg:flex-row">
              <img src="https://sdk.bitmoji.com/render/panel/20054902-168467454_7-s5-v1.png?transparent=1&palette=1&scale=2" class="max-w-sm rounded-lg shadow-2x1"  width="500" height="600" />
              <div>
                <h1 class="text-5xl font-bold">ABOUT ME!</h1>
                <p class="py-6"> All about me :)  </p>
              </div>
            </div>
          </div>


        <div class="grid grid-cols-2 gap-2 text-center p-4">
            <div class="flex justify-center items-center">
                <img src="https://imagedelivery.net/9sCnq8t6WEGNay0RAQNdvQ/UUID-cl9aneiq82946q7orbcmrv09e/public" alt="Keyboard Smash" class="rounded-lg shadow-xl" width="300" height="300" />
            </div>

            <div class="flex justify-center items-center">
                <p>Hi! That's not really me in the picture, but it represents me! I'm Ali and I'm in the process of advancing my skills in web development and programming. I'm a student at Seneca College, and I'm currently in my 3rd semester!</p>
            </div>
        </div>
          
          

</div>

</body>
</html>